body{
    margin: 0;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}
h1{

    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #f19292;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    margin-bottom: 0px;
    color: #f19292;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #f19292;
}
.top
{
    background-color:#fde2e2;
    position: relative;
    padding-top: 100px;
}

.top-cloud{
    position: absolute;
    right:200px;
    top:20px;
}
.bottom-cloud{
    position: absolute;
    left:200px;
    top: 150px;;
    
}
.mount
{
position: relative;
bottom: 0px;

}
a{

    color: #f19292;

}